@font-face {
    font-family: 'Advent Pro Thin';
    src: url('fonts/AdventPro-Thin.eot');
    src: url('fonts/AdventPro-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/AdventPro-Thin.woff2') format('woff2'),
         url('fonts/AdventPro-Thin.woff') format('woff'),
         url('fonts/AdventPro-Thin.ttf')  format('truetype'),
         url('fonts/AdventPro-Thin.svg#Advent Pro Thin') format('svg');
}