@font-face {
    font-family: 'Advent Pro SemiBold';
    src: url('fonts/AdventPro-SemiBold.eot');
    src: url('fonts/AdventPro-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AdventPro-SemiBold.woff2') format('woff2'),
         url('fonts/AdventPro-SemiBold.woff') format('woff'),
         url('fonts/AdventPro-SemiBold.ttf')  format('truetype'),
         url('fonts/AdventPro-SemiBold.svg#Advent Pro SemiBold') format('svg');
}